@import url("https://fonts.cdnfonts.com/css/poppins");
.modal-body {
    padding: 1.5rem !important;
}
img.icon-preview{
    margin-right: 10px;
    display: inline-block;
}
.ml-2{
    margin-left: 20px;
}
.btn-preview{
    display: block;
    margin-right: 10px;
    float: right;
}
#importModal {
    margin-top: 100px;
}

#importModal .button-box {
    min-width: 55%;
    display: block;
    float: right;
    margin-top: -30px;
}
#importModal .btn-import {
    width: 125px;
    height: 40px;
}
#importModal .btn-cancel {
    width: 125px;
    height: 40px;
    border: 1px solid #0068ff;
    color: #0068ff;
    background: #fff;
}

#importModal .icon-upload {
    display: block;
    margin: auto;
    margin-top: 30px;
}
#importModal .modal-content {
    padding: 0 !important;
    width: 100%;
}
#importModal .import-file-modal {
    margin-top: -30px;
}
#importModal input[type="text"] {
    background-color: transparent;
    width: 100%;
    font-size: 80%;
    text-align: center;
    padding: 1rem 2rem;
    border: 0;
}

#importModal label.file {
    position: relative;
    display: block;
    width: 100%;
    font-size: 80%;
    text-align: center;
    text-transform: uppercase;
    border: 1px dashed #0068ff;
    margin: 3rem 0;
    height: 250px;
    padding: 2rem;
}

#importModal label.file p {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: normal;
    color: #0068ff;
    margin-top: 10px;
    text-transform: capitalize;
    font-family: Poppins, Helvetica, sans-serif;
}

#importModal label.file label {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    color: #0068ff;
    margin-top: 10px;
    text-transform: capitalize;
    font-family: Poppins, Helvetica, sans-serif;
}

#importModal label.file:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#importModal label.file:active,
#importModal label.file.focus {
    border-color: #09f;
}

#importModal input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    outline: 0;
    border: 1px solid red;
}

.progress2 {
    padding: 2px;
    border-radius: 30px;
    width: 100%;
    display: inline-block;
    background: rgba(40, 199, 111, 0.12);
}

.progress-bar2 {
    height: 10px;
    border-radius: 30px;
    background-image: green;
    transition: 0.4s linear;  
    transition-property: width, background-color;    
}

.progress-moved .progress-bar2 {
    width: 100%; 
    background-color: #28C76F;  
    animation: progressAnimation 1s;
}

@keyframes progressAnimation {
    0%   { width: 5%; background-color: #28C76F;}
    100% { width: 100%; background-color: #28C76F; }
}

.card-preview-coa {
    padding: 30px;
}
.background-red{
    background-color: #eb4d4b;
    color: #fff;
}

.file-title-wrap {
    border: 1px solid #EBE9F1;
    padding: 15px; 
    box-sizing: border-box;
    border-radius: 12px;
    margin-top: -25px;"
}
.file-title{
    line-height: 30px;
    font-size: 16px
}
.file-size {
    margin-top: -10px; 
    display: block;
}
.counter{
    display: inline-block;
    margin-top:12px;
}

.duplicate{
    background-color: #F9CACA;
}